#title{
  color:#fff;
  /* background-color: #f91438; */
  background-image:url("../images/output-onlinepngtools.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #f91438;
}
#features{
  background-image:url("../images/light.svg");

  position:relative;
}
#testimonials{
  background-color:#f91438;
  color:#fff;
  text-align: center;
}

#cta{
  text-align: center;
  background-image:url("../images/light.svg");
  color: black;
  padding-top:5rem;
}
#footer{
  text-align: center;
  color: #8f8f8f;
  background-image:url("../images/light.svg");
  padding:2rem;
}
.navbar{
  padding:0 0 4.5rem;
  color: black;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}
.nav-item{
  padding:0 18px 0 18px;
  color: black;
}
.download-button{
  margin:5% 3% 5% 0;
  z-index:1;
  position:relative;
}
.title-img{
  width:25%;
  transform:rotate(25deg);
  position: absolute;
  margin-right: 0.5rem;
  color: #f91438;
}
.red{
  color: #f91438;
}

.gap{
  padding:1.5rem 1.5rem 1.5rem 1.5rem;
}
.center{
  text-align: center;
}
.testimonial-image{
  width:10%;
  border-radius: 100%;
}
.pricing-column{
  padding:3% 4%;
}
.form_prop{
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  line-height: 1.5;
  border: 1px solid;
  padding: 10px;
  box-shadow: 0px 16px 46px -22px rgb(0 0 0 / 75%);
  border-radius: 15px 50px 30px;
}
i:hover {
  color: #f91438;
}
body{
  font-family: 'Montserrat';

}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  /* color: black; */
}

h2{

  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-size: 2.5rem;
  line-height: 1.5;
}
i{
  padding-bottom: 1rem;
}
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: black;
}
.desc{
  color: black;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.press-logo{
  width:15%;
  margin:2rem;
}
.carousel-item{
  padding: 7% 15%;
}
.social-icons{
  padding:1rem;
  color:black;
}


@media (max-width:992px){
  .title-img{
    position: static;
    transform: rotate(0);
    width:50%;
  }
  #title{
    text-align:center;
  }
}
